div.gallery {
  margin: 5px;
  width: 180px;
  transition: width 2s;
  padding-left: 25px; }
  div.gallery:hover {
    width: 200px; }
  div.gallery img {
    height: auto;
    width: 100%; }

footer {
  height: auto;
  width: 100%;
  text-align: center;
  margin-top: auto;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.titulos {
  font-style: bold;
  text-align: center;
  padding: 10px;
  font-size: 20px; }

.centrado {
  text-align: center;
  padding: 2%;
  font-size: 1em; }

.listas {
  list-style: circle;
  display: inline-block; }

.fotos {
  height: 30px;
  width: 30px; }

.circulos {
  width: 20%; }

.redes {
  height: 28px;
  width: 28px; }

.fb {
  height: 25px;
  width: 25px; }

.equipos {
  width: 18rem; }
